WebApplication/web/xml-types/condimenti.xsd

<?xml version="1.0"?>

<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="condimenti" type="xs:string">
    <xsd:complexType name="condimento">
        <xsd:sequence>
            <xsd:element name="nome" type="xs:string" />
        </xsd:sequence> 
    </xsd:complexType>
    </xsd:element >
</xsd:schema>