WebApplication/web/xml-types/pizze_standard.xsd

<?xml version="1.0"?>

<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="pizze_standard" type="xs:string"/>
    <xsd:complexType name="pizza_standard">
        <xsd:sequence>
            <xsd:element name="nome" type="xs:string" maxOccurs="unbounded" />
            <xsd:element name="costo" type="xs:string" maxOccurs="unbounded" />
        </xsd:sequence> 
    </xsd:complexType>
    
</xsd:schema>